{% extends "index.html" %}

{% block area %} an exercise {% endblock area %}
{% block todo %} to get more information{% endblock todo %}

{% block content %}

<form action="{{ url_for('showExercise') }}" method="POST">
    <div class="d-grid gap-2 mx-auto">
        {% for exercise in result["results"] %}
        <button type="submit" name= "exercise" value="{{ exercise['id'] }}" class="btn btn-primary btn-lg" role="button" aria-disabled="false">{{ exercise['name'] }}</button>
        {% endfor %}

        <!-- Back to start button -->
        <div class="row">
        <div class = "col-sm-8">
          <a href="/" class="btn btn-primary btn-lg" style ="margin-bottom: 10px;" role="button" aria-disabled="false">Back to start</a>
        </div>
        </div>

    </div>
</form>


{% endblock %}